hr.wp-block-separator {
    background-color: #767676;
    border: 0;
    height: 2px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: left;
    display: block;
    clear: both;
}
table.wp-block-table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    border-top: 1px solid #ededed;
    padding: 10px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: .5em !important;
}
.appart-page .container h1,.appart-page .container h2,.appart-page .container h3,.appart-page .container h4,.appart-page .container h5,.appart-page .container h6{
    line-height: 1.4;
    color: inherit;
    margin: 0;
    display: block;
    font-weight: 600;
    margin-top: 32px !important;
    margin-bottom: 32px !important; 
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1{
        font-size: 2.44em !important;
}
h2{
        font-size: 1.95em !important;
}
h3{
        font-size: 1.56em !important;
}
h4{
        font-size: 1.25em !important;
}
h5{
        font-size: 1em !important;
}
h6{
        font-size: .8em;
}
.wp-block-quote{
    background-color: white;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
    box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
    border-radius: 6px;
    padding: 28px 40px 22px 40px;
    position: relative;
    overflow: hidden;
    border-left: 2px solid #1aabec;
    z-index: 0;
    margin: 40px 0px 45px;
}
p.wp-block-cover-text {
    color: #fff !important;
    font-size: 2em !important;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 610px;
    padding: 14px;
    text-align: center;
}
.wp-block-pullquote blockquote{
	border-left: 5px solid #1aabec !important;
}
/** === Button === */
.wp-block-button__link {
    color: #1aabec;
    background: #e9f2ff;
    display: inline-block;
    padding: 11px 40px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.wp-block-button {
    color: #1aabec;
}

.wp-block-button .wp-block-button__link:hover {
    background: #1aabec;
    color: #fff;
}

.is-style-outline a.wp-block-button__link {
    color: #1aabec;
    border: 2px solid #1aabec;
}

a:not([href]):not([tabindex]):hover,
.is-style-outline a.wp-block-button__link:hover {
    background-color: #1aabec;
    color: #fff;
}

figure.wp-block-image.alignleft {
    margin-right: 20px;
}

/** === Separator === */
.wp-block-separator.is-style-dots {
    padding: 10px 0;
}

.wp-block-separator.is-style-dots:before {
    content: "\00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7";
    color: #767676;
    font-size: 1.6875em;
    letter-spacing: calc(1.5 * 1rem);
    padding-left: calc(1.5 * 1rem);
}


/** === Align width === */
.guten_elements > *.alignwide {
    max-width: 1024px;
}

.alignleft img {
    float: left;
}

.alignright img {
    float: right;
}

.guten_elements .alignfull {
    margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}

.guten_elements .alignwide {
    margin-left  : -100px;
    margin-right : -100px;
    max-width    : 1024px;
}
.wp-block-cover.has-background-dim.alignleft {
    margin-right: 15px;
}
.wp-block-button.alignleft {
    margin-right: 15px;
}
.wp-block-categories.wp-block-categories-list.aligncenter{
    text-align: left;
}