
/*=============== comment_area css =================*/
.comment_area {
    padding: 70px 0px;
}

.comments {
    padding-bottom: 60px;
}

.comments .comment {
    margin-top: 40px;
}

.comments .comment:first-child {
    margin-top: 0px;
}

.comments .comment .media-left {
    padding-right: 20px;
}

.comments .comment .media-body .commenter-name {
    display: inline-block;
    font: 500 15px/26px "Poppins", sans-serif;
    color: #333333;
}

.comments .comment .media-body .commenter-name:after {
    content: "/";
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

.comments .comment .media-body h6 {
    display: inline-block;
    font: 300 14px/26px "Poppins", sans-serif;
    color: #a1a1a1;
}

.comments .comment .media-body p {
    font: 400 14px/26px "Poppins", sans-serif;
    color: #666666;
}

.comments .comment .media-body .reply-btn {
    font: 700 13px/32px "Poppins", sans-serif;
    color: #333333;
    border-bottom: 1px solid transparent;
}

.comments .comment .media-body .reply-btn i {
    padding-right: 7px;
}

.comments .comment .media-body .reply-btn:hover {
    border-color: #00bade;
    color: #00bade;
}

.comment_text {
    padding-bottom: 34px;
}

.comment_text .comment-title {
    font: 500 20px/26px "Poppins", sans-serif;
    color: #333333;
    margin-bottom: 10px;
}

.comment_text p {
    font: 400 15px/24px "Poppins", sans-serif;
    color: #666666;
    font-style: italic;
}

.contact-form .form-control {
    border-radius: 4px;
    background-color: white;
    height: 60px;
    font: 400 14px/26px "Poppins", sans-serif;
    color: #333;
    border-color: transparent;
    padding-left: 30px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.08);
}

.contact-form .form-control.placeholder {
    color: #a6a6a6;
    font-size: 16px;
}

.contact-form .form-control:-moz-placeholder {
    color: #a6a6a6;
    font-size: 16px;
}

.contact-form .form-control::-moz-placeholder {
    color: #a6a6a6;
    font-size: 16px;
}

.contact-form .form-control::-webkit-input-placeholder {
    color: #a6a6a6;
    font-size: 16px;
}

.contact-form .form-control:focus {
    border-color: #d9e5ff;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
}

.contact-form textarea.form-control {
    height: 160px;
    padding-top: 13px;
    font-size: 16px !important;
}

.sub_btn {
    font: 600 14px/55px "Poppins", sans-serif;
    color: #00bade;
    border: 2px solid #00bade;
    border-radius: 45px;
    padding: 0px 43px;
    background: transparent;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-top: 10px !important;
}

.sub_btn:hover {
    background: #00bade;
    color: #fff;
    cursor: pointer;
}


a.comment-reply-link {
    font: 500 13px/32px "Poppins", sans-serif;
    color: #333333;
    border-bottom: 1px solid transparent;
    margin-top: 5px;
    display: inline-block;
}

a.comment-reply-link i {
    padding-right: 6px;
}

p.logged-in-as {
    padding: 8px 0 20px;
    font-weight: 400;
}

.comments ul.children {
    margin-left: 90px;
    margin-top: 50px;
}

.comments .comment .media-body {
    margin-top: 10px;
}

.comment_text .comment-title {
    padding-bottom: 0 !important;
}

.comments>h2 {
    font-size: 24px;
}

.contact-form .form-control::placeholder {
    font-size: 14px;
}